html {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

body {
	background-color: #538292;
}

.header_title {
	font-weight: bold;
	color: #333;
}

.container   {
	width: 960px;
	margin: 50px auto;
}

header nav ul li {
	display: inline-block;
	width: 150px;
	height: 40px;
	padding-top: 20px;
	text-align: center;
	background-color: #3F65AB;
}

header nav ul {
	padding: 0;	
}

a {
	color: #222;
	padding: 20px 25px;
	text-decoration: none;
}

.content {
	padding: 0px;
	text-align: justify;
}

article {
	display: inline-block;
	width: 290px;
	text-align: left;
}

.middle {
	margin: 0 20px;
}

#insider {
	text-align: center;
	padding: 60px;
}

#insider a {
	background-color: #449d44;
	border-color: #398439;
	border-radius: 6px;
	color: white;
	font-weight: bold;
}

.btn {
	margin-top: 40px;
	font-size: 22px;
}

article a {
	background-color: #428bca;                   
	border-color: #357ebd;
	border-radius: 6px;
	color: white;
	font-weight: bold;
	font-size: 15px;
}
